<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <main class="page pricing-table-page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Đội ngũ giảng viên</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/avatars/avatar1.jpg?h=2bf47f2c2deaed837d2490a2db0a7175">
                            <div class="card-body info">
                                <h4 class="card-title">John Smith</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/avatars/avatar2.jpg?h=4178f5c706118a93c77520b6d0b30713">
                            <div class="card-body info">
                                <h4 class="card-title">Robert Downturn</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/avatars/avatar3.jpg?h=4c77b34bb68eaede08fdd5dfec8752b0">
                            <div class="card-body info">
                                <h4 class="card-title">Ally Sanders</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container border rounded">
                <div class="block-heading" style="padding: 0px;">
                    <h1 class="text-info">Mạnh chuyên môn</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="getting-started-info">
                            <p class="lead"><strong>✓✓&nbsp; </strong>Tất cả giảng viên tại Sway đều trải qua khâu tuyển chọn khắt khe - đáp ứng được tiêu chuẩn giảng dạy tiếng Anh chuẩn Quốc tế.<br><strong>✓✓&nbsp;</strong>Đối với khóa giao tiếp, học viên của Sway sẽ
                                được đào tạo trực tiếp bởi sự kết hợp của cả giáo viên Việt Nam và giáo viên bản ngữ.<br></p>
                            <blockquote class="blockquote" style="padding: 2%;">
                                <p class="mb-0" style="/*padding: 2%;*/"><em>“Chúng tôi thà dừng tuyển sinh chứ tuyệt đối không chấp nhận đưa</em><br><em>một anh “Tây balo” đi du lịch vào để làm giáo viên bản ngữ”</em></p>
                                <footer class="blockquote-footer">Sway</footer>
                            </blockquote>
                            <p class="lead"><strong>✓✓&nbsp;</strong>&nbsp;Đội ngũ “HUẤN LUYỆN VIÊN” và “TRỢ GIẢNG” nhiệt huyết.<br></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container border rounded">
                <div class="block-heading" style="padding: 0px;">
                    <h1 class="text-info">Mô hình giảng dạy tận tâm</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="getting-started-info">
                            <p class="lead"><strong><em>HỌC 3 THẦY KÈM 1 TRÒ – GIA SƯ TRỰC TIẾP 24/7.</em></strong><br>Sway là Trung tâm duy nhất tại Việt Nam triển khai mô hình học 2 giảng viên 1 trợ giảng trong 1 lớp và gia sư 24/7. Nghĩa là trong quá trình học, bạn
                                sẽ nhận được quan tâm kèm cặp sát sao nhất từ:<br>● GIẢNG VIÊN (TEACHER):<br>● HUẤN LUYỆN VIÊN (TRAINER)<br>● TRỢ GIẢNG (Supporter &amp; Coach)<br>Ngoài ra mỗi tuần còn có thêm 1 buổi học ngoại khóa và gia sư tùy ý.<br></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container border rounded">
                <div class="block-heading" style="padding: 0px;">
                    <h1 class="text-info">Lộ trình học từ gốc</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="getting-started-info">
                            <p class="lead">Lộ trình học được thiết kế chuyên nghiệp từ cơ bản đến nâng cao và ôn<br>thi chứng chỉ quốc tế.<br>Trước khi đăng kí học, bạn được test đầu vào về ngữ âm và số lượng từ<br>vựng để tư vấn khóa học phù hợp.<br>Đầu ra được kiểm
                                tra và đánh giá nghiêm ngặt để xác định chính xác<br>năng lực của bản thân.<br>Trước mỗi khóa học đều được ký cam kết chất lượng với trung tâm<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Start: Features Clean -->
    <div class="features-clean">
        <div class="container">
            <!-- Start: Intro -->
            <div class="intro">
                <h2 class="text-center">Phương pháp học đặc biệt</h2>
            </div>
            <!-- End: Intro -->
            <!-- Start: Features -->
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Gesture pronunciation</h3>
                    <p class="description"><strong>Khóa ngữ âm</strong></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Siêu từ vựng</h3>
                    <p class="description">Khóa giao tiếp</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">TPR</h3>
                    <p class="description"></p>
                </div>
            </div>
            <!-- End: Features -->
        </div>
    </div>
</div>
</html>