<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <div class="features-clean" >
        <div class="container">
            <!-- Start: Intro -->
            <div class="intro">
                <h2 class="text-center">Features</h2>
            </div>
            <!-- End: Intro -->
            <!-- Start: Features -->
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Mô hình đào tạo</h3>
                    <p class="description">Mô hình đào tạo độc đáo tại Sway</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Tầm nhìn xứ mệnh</h3>
                    <p class="description">Hành trình "Hội Nhập Nhân Lực Việt" cùng Sway</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Cơ sở đào tạo</h3>
                    <p class="description">Các cơ sở đào tạo Sway và thông tin liên hệ</p>
                </div>
            </div>
            <!-- End: Features -->
        </div>
    </div>
    <!-- End: Features Clean -->
    <main class="page">
        <section class="clean-block features">
            <div class="container border rounded">
                <div class="block-heading" style="padding: 0px;">
                    <h1 class="text-info">Mô hình đào tạo 3 trong 1</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="getting-started-info">
                            <p class="lead"><strong>✓✓&nbsp; &nbsp;</strong><em>Trong một lớp học, học viên sẽ được đào tạo 1 tuần 3 buổi:</em><br></p>
                            <p class="text-justify" style="padding: 2%;text-align: justify;"><em>» </em><strong><em>2&nbsp;buổi về ngoại ngữ:</em></strong><em>&nbsp;</em>học viên sẽ được giảng dạy bởi 1 giáo viên và 2 trợ giảng. Giáo viên là những thầy cô tâm huyết, có kinh nghiệm giảng dạy nhiều năm trong lĩnh vực
                                ngoại ngữ. Trợ giảng là những bạn có khả năng giao tiếp ngoại ngữ trôi chảy hoặc đã tốt nghiệp khóa đó loại xuất sắc tại Sway<em>.</em><br></p>
                            <p class="text-justify" style="padding: 2%;"><em>»&nbsp;</em><strong><em>1 buổi học ngoại khóa về kỹ năng mềm</em></strong><em>: </em>học viên&nbsp;sẽ được đào tạo kỹ năng mềm bởi huấn luyện viên.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container border rounded">
                <div class="block-heading" style="padding: 0px;">
                    <h1 class="text-info">Tầm nhìn - Xứ mệnh</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="getting-started-info">
                            <p class="lead"><strong>✓✓&nbsp; &nbsp;</strong>Từ niềm tự hào dân tộc và khát khao giúp Nhân Lực Việt hội nhập toàn cầu, hệ&nbsp;thống ngoại ngữ Sway chính thức ra đời.&nbsp;Mang sứ mệnh giúp đỡ hàng triệu nhân lực Việt Nam nâng cao giá trị
                                bản thân,&nbsp;khẳng định năng lực của người Việt Nam trên thị trường lao động thế giới.&nbsp;Công Ty&nbsp;Cổ Phần Sway Việt Nam bắt đầu hành trình sải cánh vươn xa, với việc xây&nbsp;dựng hệ&nbsp;thống đào tạo ngoại ngữ
                                Sway.<br></p>
                            <blockquote class="blockquote" style="padding: 2%;">
                                <p class="mb-0"><em>“Chúng tôi đã có chiến lược rất rõ ràng để xây dựng Sway trở thành học&nbsp;viện đào tạo ngoại ngữ và kỹ năng mềm đạt chuẩn quốc tế. Bên cạnh mô hình&nbsp;đào tạo ngoại ngữ chất lượng cao, chúng tôi mong muốn mang tới một cuộc&nbsp;sống mới, công việc mới cho mọi người lao động Việt Nam”</em><br></p>
                                <footer
                                        class="blockquote-footer"><em>Chủ Tịch Công&nbsp;Ty Cổ Phần Sway</em></footer>
                            </blockquote>
                            <p class="lead"><strong>✓✓&nbsp; &nbsp;Với mong muốn mang “giấc mơ toàn cầu” đến gần hơn với mọi người lao động&nbsp;Việt Nam, chúng tôi xây dựng các khóa học từ cơ bản đến nâng cao về các ngôn&nbsp;ngữ:&nbsp;Anh, Trung, Nhật, Hàn và phù hợp với mọi người.</strong><br><strong>✓✓&nbsp;&nbsp;Về logo đại diện cho Sway, lấy ý tưởng chính từ loài chim Lạc Việt; loài chim&nbsp;nước lớn, mỏ dài, chân cao, mào kiêu hãnh đang sải cánh bay xa trên mỗi chiếc&nbsp;trống&nbsp;đồng Đông Sơn – biểu tượng tự hào của nền văn hóa Lạc Việt.&nbsp;Trên hình ảnh biểu tượng cho Sway chim Lạc được mang màu cam, màu sắc&nbsp;như 1 ngọn lửa bừng lên mạnh mẽ; ngọn lửa này như khát vọng của nhân lực&nbsp;Việt&nbsp;trước cơ hội toàn cầu. Nó sẽ soi sáng cả một chặng đường gian lao và gai góc.&nbsp;Với tất cả những điều trên, chúng tôi tin rằng hành trình “Hội Nhập Nhân Lực&nbsp;Việt” của Sway sẽ mang lại rất nhiều giá trị cho bạn.</strong><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container border rounded">
                <div class="block-heading" style="padding: 0px;">
                    <h1 class="text-info">Cơ sở đào tạo</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card-group">
                            <div class="card"><img class="card-img-top w-100 d-block">
                                <div class="card-body">
                                    <h4 class="card-title">KDT Xuân Phương – Nam Từ Liêm – Hà Nội</h4>
                                    <ul>
                                        <li>Số nhà</li>
                                        <li>0089843748</li>
                                    </ul><button class="btn btn-primary" type="button">Gọi ngay</button></div>
                            </div>
                            <div class="card"><img class="card-img-top w-100 d-block">
                                <div class="card-body">
                                    <h4 class="card-title">KDT Xuân Phương – Nam Từ Liêm – Hà Nội</h4>
                                    <ul>
                                        <li>Số nhà</li>
                                        <li>0089843748</li>
                                    </ul><button class="btn btn-primary" type="button">Gọi ngay</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
</html>