<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <main class="page landing-page" style="margin-top: 70px">
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Test online</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec
                        auctor in, mattis vitae leo.
                    </p>
                </div>
            </div>
        </section>
    </main>
    <div style="margin-left: 2%; margin-right: 2%">
        <form th:action="@{~/submit-test}" th:object="${wrapper}" method="post" style="margin-bottom: 70px">
            <div class="container">
                <div class="row" th:each="question, stat : ${wrapper.questions}" style="margin-bottom: 30px">
                    <div class="col-12" style="font-size: 20px" th:text="${'Câu '+(stat.index+1)+': '+question.content}">
                    </div>
                    <div style="display: none">
                        <input type="text" th:field="*{questions[__${stat.index}__].content}" th:value="${question.getContent()}"/>
                        <input type="text" th:field="*{questions[__${stat.index}__].answer}" th:value="${question.answer}"/>
                        <input type="text" th:field="*{questions[__${stat.index}__].id}" th:value="${question.id}"/>
                        <input type="text" th:field="*{questions[__${stat.index}__].explanation}" th:value="${question.explanation}"/>
                        <input type="text" th:field="*{questions[__${stat.index}__].questionId}" th:value="${question.questionId}"/>
                        <input type="text" th:field="*{questions[__${stat.index}__].choices}" th:value="${question.choices}"/>
                    </div>
                    <div class="col-12" th:each="choice,stat2 : ${question.choices}"
                         style="border-radius: 10px; border: 1px solid black; width: 100%; cursor: pointer; margin:5px 0; padding: 5px">
                        <div class="form-check" style="padding:5px">
                            <input class="form-check-input" type="radio"
                                   th:name="|questions[${stat.index}]|"
                                   th:id="${question.questionId+stat2}"
                                   th:value="${choice}"
                                   th:field="*{questions[__${stat.index}__].selected}"/>
                            <label class="form-check-label" th:for="${question.questionId+stat2}"
                                   th:text="${choice}"
                                   style="width: 100%; cursor: pointer"></label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary">Nộp bài</button>
                </div>
            </div>
        </form>
    </div>
</div>
</html>
