<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <main class="page landing-page" style="margin-top: 70px">
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Kết quả</h2>
                    <p th:text="${diem}" style="font-size: 30px"/>
                </div>
            </div>
        </section>
    </main>
    <form th:object="${wrapper}" style="margin-bottom: 70px">
        <div class="container">
            <div class="row" th:each="question, stat : ${wrapper.questions}" style="margin-bottom: 30px">
                <div class="col-12" style="font-size: 20px" th:text="${'Câu '+(stat.index+1)+': '+question.content}"/>
                <div class="col-12" style="font-size: 15px" th:text="${question.explanation}"/>
                <div class="col-12" th:each="choice,stat2 : ${question.choices}"
                     th:classappend="${choice == question.answer}? right:wrong"
                     style="border-radius: 10px; border: 1px solid black; width: 100%; cursor: pointer; margin:5px 0; padding: 5px; position: relative">
                    <div class="form-check" style="padding:5px">
                        <input class="form-check-input" type="radio"
                               th:name="|questions[${stat.index}]|"
                               th:id="${question.questionId+stat2}"
                               th:value="${choice}"
                               th:field="*{questions[__${stat.index}__].selected}"
                               disabled/>
                        <label class="form-check-label" th:for="${question.questionId+stat2}"
                               th:text="${choice}"
                               style="width: 100%; cursor: pointer"/>
                        <img src="https://icon-library.com/images/wrong-icon/wrong-icon-8.jpg"
                             th:if="${question.selected != question.answer && choice == question.selected}"
                             style="width: 30px; object-fit: cover; position:absolute; right: 10px; top: 50%; transform: translateY(-50%)"/>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flat_tick_icon.svg/1024px-Flat_tick_icon.svg.png"
                             th:if="${choice == question.answer}"
                             style="width: 30px; object-fit: cover; position:absolute; right: 10px; top: 50%; transform: translateY(-50%)"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
<style>
    .right{
        background-color: #c6ffa8;
    }
    .wrong{
        background-color: #ffd6cf;
    }
</style>
</div>
</html>
