<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="bodyFooter">
  <!--FOOTER-->
  <footer class="main-footer padding-y-lg">
    <div class="container max-width-lg">
      <div class="grid gap-lg">
        <div class="col-6@lg order-2@lg flex@lg justify-end@lg">
          <section class="newsletter text-center">
            <div class="container max-width-xs">
              <form class="grid gap-xxs">
                <div class="col@xs min-width-0">
                  <input class="form-control width-100% height-100%" aria-label="Name" type="text" placeholder="Họ tên">
                </div>

                <div class="col@xs min-width-0">
                  <input class="form-control width-100% height-100%" aria-label="Email" type="number"
                         placeholder="Số điện thoại">
                </div>

                <div>
                  <button class="btn btn--primary width-100% height-100%">Nhận tư vấn</button>
                </div>
              </form>

              <p role="alert" class="bg-success bg-opacity-20% text-sm padding-xs radius-md margin-top-xs invisible">
                <strong>Thành công!</strong> Sway sẽ sớm liên lạc với bạn</p>

              <div class="margin-top-xs">
                <small class="text-xs color-contrast-medium">By subscribing you agree to our <a
                    class="color-contrast-high" href="#0">privacy policy</a>.</small>
              </div>
            </div>
          </section>
        </div>

        <nav class="col-6@lg order-1@lg">
          <ul class="grid gap-lg">
            <li class="col-6@xs col-3@md col-6@lg">
              <h4 class="margin-bottom-sm text-base@md">Liên hệ</h4>
              <ul class="grid gap-xs text-sm@md">
                <li>
                  <p>Số 2 ngõ 54 Phùng Hưng, Hà Nội</p>
                </li>
                <a href="tel:+84354154488">0354154488</a>
                <a href="mailto:support@sway.vn">support@sway.vn</a>
              </ul>
            </li>

            <li class="col-6@xs col-3@md col-6@lg">
              <h4 class="margin-bottom-sm text-base@md">Thông tin</h4>
              <ul class="grid gap-xs text-sm@md">
                <li><a href="#0" class="main-footer__link">Hệ thống trung tâm</a></li>
                <li><a href="#0" class="main-footer__link">Các khóa học</a></li>
                <li><a href="#0" class="main-footer__link">Câu hỏi thường gặp</a></li>
                <li><a href="#0" class="main-footer__link">Chính sách bảo mật</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <div class="main-footer__colophon border-top margin-top-lg">
        <div class="text-sm text-xs@md color-contrast-medium flex flex-wrap gap-xs">
          <span>&copy; Sway</span>
          <a href="#0" class="color-contrast-high">Điều khoản sử dụng</a>
          <a href="#0" class="color-contrast-high">Chính sách bảo mật</a>
        </div>
      </div>
      <div class="flex items-center gap-xs">
        <a href="#0" class="main-footer__social">
          <svg class="icon block" aria-hidden="true" focusable="false" width="16" height="16"
               preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
            <title>Kênh Youtube</title>
            <path
                d="M15.841 4.8s-.156-1.103-.637-1.587c-.609-.637-1.291-.641-1.603-.678c-2.237-.163-5.597-.163-5.597-.163h-.006s-3.359 0-5.597.163c-.313.038-.994.041-1.603.678C.317 3.697.164 4.8.164 4.8S.005 6.094.005 7.391v1.213c0 1.294.159 2.591.159 2.591s.156 1.103.634 1.588c.609.637 1.409.616 1.766.684c1.281.122 5.441.159 5.441.159s3.363-.006 5.6-.166c.313-.037.994-.041 1.603-.678c.481-.484.637-1.588.637-1.588s.159-1.294.159-2.591V7.39c-.003-1.294-.162-2.591-.162-2.591zm-9.494 5.275V5.578l4.322 2.256l-4.322 2.241z"
                fill="#db3f27"/>
          </svg>
        </a>

        <a href="#0" class="main-footer__social">
          <svg class="icon block icon-facebook" width="16" height="16" viewBox="0 0 16 16">
            <title>Sway Fanpage</title>
            <path class="background" fill="#3b5999"
                  d="M 0.875,0 C 0.38722,0 0,0.38721 0,0.875 l 0,14.25 C 0,15.61266 0.38715,16 0.875,16 l 7.65625,0 0,-6.1875 -2.0625,0 0,-2.4375 2.0625,0 0,-1.78125 c 0,-2.06656 1.2814395,-3.1875 3.125,-3.1875 0.88307,0 1.62261,0.06435 1.84375,0.09375 l 0,2.15625 -1.25,0.03125 c -1.00252,0 -1.21875,0.45713 -1.21875,1.15625 l 0,1.53125 2.40625,0 -0.3125,2.4375 -2.09375,0 0,6.1875 4.09375,0 C 15.612599,16 16,15.61272 16,15.125 L 16,0.875 C 16,0.38721 15.61266,0 15.125,0 L 0.875,0 z"/>
            <path class="foreground" fill="white"
                  d="m 11.03968,16.000001 v -6.19608 h 2.07973 l 0.31141,-2.41472 h -2.39114 v -1.54165 c 0,-0.69912 0.19414,-1.17555 1.19666,-1.17555 l 1.27866,-5.6e-4 v -2.15974 c -0.22114,-0.0294 -0.98017,-0.0952 -1.86324,-0.0952 -1.8435605,0 -3.1057105,1.12532 -3.1057105,3.19188 v 1.7808 h -2.08506 v 2.41472 h 2.08506 v 6.19608 H 11.03968 z"/>
          </svg>
        </a>
      </div>
    </div>
  </footer>
</th:block>
</html>
