<!DOCTYPE HTML>
<html
    lang="en"
    layout:decorate="~{layouts/admin}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Quản lý bài viết - Hệ thống đào tạo ngoại ngữ Sway</title>

</head>
<body onload = getEditPost()>
<th:block layout:fragment="customNavBar">
  <div th:replace="fragments/admin/common :: navBarFragment"></div>
</th:block>
<div layout:fragment="content">
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-outline card-info">
          <div class="card-header pad">
            <h3 class="card-title">Soạn bài viết</h3>
            <div class="card-tools">
              <button type="button" id="btnedit" style="  width: 100px; float: right;"
                      class="btn btn-block btn-success">Lưu
              </button>
            </div>
          </div>
          <div class="card-body pad">

            <h3 class="card-title">Cover photo</h3>
            <br>
            <input id="coverPhoto" type="file" accept="image/x-png,image/gif,image/jpeg" onchange="encodeImageFileAsURL();" />

            <input style="margin-top: 10px;"  id="title" class="form-control form-control-lg" placeholder="Tiêu đề" type="text">
            <div class="form-group" style="margin-top: 10px;">
              <select class="form-control" id="menu">
                <option value="Homepage">Trang chủ</option>
                <option value="Homework">Bài tập</option>
                <option value="abc">Đối tác</option>
              </select>
            </div>
            <div class="mb-3" style="height: 350px">
              <div id="inputContent" class="inputContent"></div>
            </div>

          </div>
          <input type="hidden" id="idPost"/>

        </div>
      </div>
      <!-- /.col-->
    </div>
    <!-- ./row -->
  </section>
</div>

<th:block layout:fragment="scriptFragment">
  <script th:inline="javascript">
      /*<![CDATA[*/
      var selectedPost = /*[[${editPost}]]*/ 'default';
      /*]]>*/
      $(function () {
          // Summernote
          $('.inputContent').summernote({
              height: 300,
          });
      })
  </script>
  <script th:src="@{/admin/js/post/detail.js}"></script>
</th:block>
</body>
</html>
