<!DOCTYPE html>
<html class="js" lang="vi-VN"
      layout:decorate="~{layouts/page}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Không tìm thấy nội dung - Trung tâm ngoại ngữ Sway</title>
</head>
<th:block layout:fragment="content">
  <div id="wrapper" style="min-height: 300vh">
    <th:block th:replace="fragments/user/navBarFragment :: nav-bar"></th:block>
    <p style="margin-top: 100px">
      Đã có lỗi xảy ra. Vui lòng thử lại
    </p>
    <th:block th:replace="fragments/user/footerFragment :: footer"></th:block>
  </div>
</th:block>
</html>
