<!DOCTYPE html>
<html class="js" lang="vi-VN"
      layout:decorate="~{layouts/page}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
    <div id="wrapper">
        <th:block th:replace="fragments/user/navBarFragment :: nav-bar"></th:block>
        <th:block th:replace="fragments/user/gioiThieuContentFragment :: content"></th:block>
        <th:block th:replace="fragments/user/footerFragment :: footer"></th:block>
    </div>
</th:block>
</html>
