<!DOCTYPE html>
<html class="js" lang="vi-VN"
      layout:decorate="~{layouts/page}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
  <div id="wrapper" style="min-height: 300vh">
    <th:block th:replace="fragments/bodyFrg :: body-header"></th:block>
    <p>Trang chủ</p>
    <p th:text="${webTitle}"></p>
    <p th:text="${pageTitle}"></p>
  </div>
</th:block>
</html>
