<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/admin}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/admin/css/common/crudtable.css}"/>
</head>
<body>
<th:block layout:fragment="customNavBar">
  <div th:replace="fragments/admin/navbar/user :: userDetailNavBar"></div>
</th:block>
<div layout:fragment="content" style="padding-top: 1%">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Danh sách tài khoản</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input id="txtKeyword" class="form-control float-right" name="table_search" placeholder="email/tên" type="text">
                <div class="input-group-append" id="btnSearchUser">
                  <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap" id="tblUser">
              <thead>
              <tr>
                <th>STT</th>
                <th>Họ Tên</th>
                <th>Email</th>
                <th>Khóa</th>
                <th>Vai trò</th>
                <th>Cập nhật</th>
              </tr>
              </thead>
              <tbody>
              <th:block th:each="user,stats: ${users}">
                <tr>
                  <td th:text="${stats.index}"></td>
                  <td>
                    <p th:text="${user.name}"></p>
                  </td>
                  <td>
                    <p th:text="${user.username}"></p>
                  </td>
                  <td th:if="${user.status}">
                    <p>Hoạt động</p>
                  </td>
                  <td th:unless="${user.status}">
                    <p>Khoá</p>
                  </td>
                  <td>
                    <p th:text="${user.getReadableRole()}"></p>
                  </td>
                  <td style="display: flex">
                    <div id="editAnUser"
                         th:attr="data-user=${user.getJsonString()}"
                         th:onclick="javascript:setSelectedObject(this.getAttribute('data-user'));">
                      <a class="edit" data-toggle="modal" href="#editUserModal">
                        <i class="material-icons"
                           data-toggle="tooltip"
                           title="Chỉnh sửa">&#xE254;
                        </i>
                      </a>
                    </div>
                    <div id="removeAnUser" th:attr="data-user=${user.getJsonString()}"
                         th:onclick="javascript:setSelectedObject(this.getAttribute('data-user'));">
                      <a class="delete" data-toggle="modal" href="#deleteUserModal">
                        <i class="material-icons"
                           data-toggle="tooltip"
                           title="Xóa">&#xE872;
                        </i>
                      </a>
                    </div>
                  </td>
                </tr>
              </th:block>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <p class="float-left" th:text="'Tổng số: '+ ${totalPages} + ' trang'"></p>
            <ul class="pagination pagination-sm m-0 float-right" th:if="${totalPages} > 1">
              <li class="page-item" th:if="${current} > 0">
                <a class="page-link" th:href="'manage/users?page=' + (${current} - 1) ">«</a>
              </li>
              <li class="page-item active">
                <a class="page-link" th:href="'manage/users?page=' + ${current}" th:text="${current} + 1"></a>
              </li>
              <li class="page-item" th:if="${current} +1 < ${totalPages} ">
                <a class="page-link" th:href="'manage/users?page=' + (${current} + 1) ">»</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
  <!-- Add Modal HTML -->
  <div class="modal fade" id="addUserModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="formAddUserModal">
          <div class="modal-header">
            <h4 class="modal-title">Thêm người dùng</h4>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="addUsername">Username</label>
              <input class="form-control" id="addUsername" required type="email">
            </div>

            <div class="form-group">
              <label for="addPassword" style="display: none">Mật khẩu</label>
              <input class="form-control" disabled id="addPassword" required style="display: none" type="text">
              <label for="txtUserInfo">Thông tin tài khoản</label>
              <br>
              <div onclick="onCopy()" style="position: relative">
                <textarea disabled id="txtUserInfo" style="display: block; resize: none; width: 100%"></textarea>
                <span class="material-icons" id="copyTooltip"
                      style="cursor: pointer; position: absolute; bottom: 4px; right: 6px;" title="Đã copy">content_copy</span>
              </div>
            </div>
            <div class="form-group">
              <label for="addRole">Vai trò</label>
              <br>
              <select id="addRole">
                <option value="STUDENT">Học sinh</option>
                <option value="LECTURER">Giáo viên</option>
                <option value="ADMIN">Admin</option>
              </select>
            </div>

          </div>
          <div class="modal-footer">
            <input class="btn btn-default" data-dismiss="modal" type="button" value="Hủy">
            <input class="btn btn-success" type="submit" value="Lưu">
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--   Edit Modal HTML-->
  <div class="modal fade" id="editUserModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="formEditUserModal">
          <div class="modal-header">
            <h4 class="modal-title">Sửa thông tin</h4>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="editName">Họ tên</label>
              <input class="form-control" id="editName" required type="text">
            </div>
            <div class="form-group">
              <label for="editEmail">Email</label>
              <input class="form-control" disabled id="editEmail" required type="email">
            </div>
            <div class="form-group">
              <label for="editIsLocked">Trạng thái khóa</label>
              <br>
              <select id="editIsLocked">
                <option value="true">Hoạt động</option>
                <option value="false">Khoá</option>
              </select>
            </div>
            <div class="form-group">
              <label for="editRole">Vai trò</label>
              <br>
              <select id="editRole">
                <option value="STUDENT">Học sinh</option>
                <option value="LECTURER">Giáo viên</option>
                <option value="ADMIN">Admin</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <input class="btn btn-default" data-dismiss="modal" type="button" value="Hủy">
            <input class="btn btn-info" id="btnUserUpdate" type="submit" value="Lưu">
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Delete Modal HTML -->
  <div class="modal fade" id="deleteUserModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="formDeleteUserModal">
          <div class="modal-header">
            <h4 class="modal-title">Xóa bản ghi</h4>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
          </div>
          <div class="modal-body">
            <p>Bạn có muốn xóa bản ghi không?</p>
            <p id="mainContent" style="height: fit-content"></p>
            <p class="text-warning"><small>Hành động này không thể khôi phục</small></p>
          </div>
          <div class="modal-footer">
            <input class="btn btn-default" data-dismiss="modal" type="button" value="Cancel">
            <input class="btn btn-danger" type="submit" value="Delete">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<th:block layout:fragment="scriptFragment">
  <script th:inline="javascript">
    var selectedUser = undefined;

    function setSelectedObject(json_str) {
      //var str = json_str.replace('UserModel', '');
      console.log(json_str);
      selectedUser = JSON.parse(json_str);
    }
  </script>
  <script th:src="@{/admin/js/user.js}"></script>

  <!--  <script th:src="@{/js/users.js}"></script>-->
</th:block>

</body>
</html>
