<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<section class="feature-v12 feature-v12--bottom feature-v12--offset-sm feature-v12--offset-md@md padding-y-sm"
         th:fragment="heroFrg">
  <div class="container max-width-adaptive-lg">
    <div class="grid justify-center">
      <div class="col-10 col-8@md order-2">
        <div class="feature-v12__offset-item text-center">
<!--          <h1 class="text-xl@sm text-xxl@lg">Hệ thống đào tạo ngoại ngữ Sway</h1>-->
        </div>
      </div>
      <div class="order-1">
        <figure class="feature-v12__bg-item">
          <img alt="Sway - uy tín, chất lượng" class="block width-100%" src="/gdmoi/assets/img/banner-img-2.jpg">
        </figure>
      </div>
    </div>
  </div>
</section>
</html>
