<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<section class="feature-v7" th:fragment="featureFrg">
  <div class="container max-width-adaptive-lg">
    <div class="grid gap-md">
      <div class="col-6@md">
        <div class="feature-v7__item flex gap-sm">
          <figure>
            <img alt="Image description" src="/gdmoi/assets/img/feature-v7-img-1.svg">
          </figure>

          <div class="text-component">
            <h4>Uy tín</h4>
            <p>
              Chúng tôi tự hào là trung tâm học tiếng anh uy tín hàng đầu tại Việt Nam với hơn 1000 học viên đã tin tưởng lựa chọn trong thời gian qua
            </p>
          </div>
        </div>
      </div>

      <div class="col-6@md">
        <div class="feature-v7__item flex gap-sm">
          <figure>
            <img alt="Image description" src="/gdmoi/assets/img/feature-v7-img-2.svg">
          </figure>

          <div class="text-component">
            <h4>Chất lượng</h4>
            <p>
              Sway là trung tâm chất lượng hàng đầu VN, hơn 90% học viên sau khi theo học đều đạt được kết quả trên mong đợi
            </p>
          </div>
        </div>
      </div>

      <div class="col-6@md">
        <div class="feature-v7__item flex gap-sm">
          <figure>
            <img alt="Image description" src="/gdmoi/assets/img/feature-v7-img-3.svg">
          </figure>

          <div class="text-component">
            <h4>Chuyên nghiệp</h4>
            <p>
              Sway làm việc theo phong cách vô cùng chuyên nghiệp, với hệ thống đạt chuẩn Châu Âu sẽ giúp bạn luôn an tâm khi trở thành học viên tại Sway
            </p>
          </div>
        </div>
      </div>

      <div class="col-6@md">
        <div class="feature-v7__item flex gap-sm">
          <figure>
            <img alt="Image description" src="/gdmoi/assets/img/feature-v7-img-4.svg">
          </figure>

          <div class="text-component">
            <h4>Tận tâm</h4>
            <p>
              Đến với Sway, bạn sẽ luôn được chia sẻ kiến thức 1 cách đầy đủ và tốt nhất, mọi thắc mắc sẽ được đội ngũ giảng viên giải đáp một cách tận tình
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</html>
