<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<section class="padding-y-lg" th:fragment="cam-nhan-hoc-vienFrg">
  <div class="container max-width-adaptive-lg">
    <div class="margin-bottom-lg">
      <h1 class="text-center">Cảm nhận từ học viên</h1>
    </div>

    <div class="grid gap-sm">
      <div class="bg-contrast-lower radius-md padding-md flex@md flex-column@md col-4@md">
        <svg aria-hidden="true" class="icon icon--xl color-contrast-low margin-bottom-xxxxs" height="64" viewBox="0 0 64 64"
             width="64">
          <polygon points="2 36 17 2 26 2 15 36 26 36 26 62 2 62 2 36"/>
          <polygon points="38 36 53 2 62 2 51 36 62 36 62 62 38 62 38 36"/>
        </svg>

        <blockquote class="line-height-md margin-bottom-md">
          Bí kíp để được điểm cao của mình là hãy HỌC HẾT tất cả những bài cô giao, như vậy chắc chắn 500+ TOEIC đã trong tầm tay bạn rồi
        </blockquote>

        <footer class="flex flex-wrap items-center margin-top-auto@md">
          <figure aria-hidden="true" class="flex-shrink-0 margin-right-xxs">
            <img alt="Emily Ewing"
                 class="block width-lg height-lg radius-50% border border-2 border-bg" src="/gdmoi/assets/img/testimonials-img-1.svg">
          </figure>

          <cite class="text-sm">
            <strong>Hoàng Đức Mạnh</strong>
            <span class="block color-contrast-medium margin-top-xxxxs">Học viên</span>
          </cite>
        </footer>
      </div>

      <div class="bg-contrast-lower radius-md padding-md flex@md flex-column@md col-4@md">
        <svg aria-hidden="true" class="icon icon--xl color-contrast-low margin-bottom-xxxxs" height="64" viewBox="0 0 64 64"
             width="64">
          <polygon points="2 36 17 2 26 2 15 36 26 36 26 62 2 62 2 36"/>
          <polygon points="38 36 53 2 62 2 51 36 62 36 62 62 38 62 38 36"/>
        </svg>

        <blockquote class="line-height-md margin-bottom-md">
          Tại trung tâm Anh Ngữ Sway mình đã được rèn luyện kỷ luật để học tập thật chăm chỉ cùng với bí quyết từ giảng viên chuyên nghiệp
        </blockquote>

        <footer class="flex flex-wrap items-center margin-top-auto@md">
          <figure aria-hidden="true" class="flex-shrink-0 margin-right-xxs">
            <img alt="James Powell"
                 class="block width-lg height-lg radius-50% border border-2 border-bg" src="/gdmoi/assets/img/testimonials-img-2.svg">
          </figure>

          <cite class="text-sm">
            <strong>Ngô Thùy Trang</strong>
            <span class="block color-contrast-medium margin-top-xxxxs">Học viên</span>
          </cite>
        </footer>
      </div>

      <div class="bg-contrast-lower radius-md padding-md flex@md flex-column@md col-4@md">
        <svg aria-hidden="true" class="icon icon--xl color-contrast-low margin-bottom-xxxxs" height="64" viewBox="0 0 64 64"
             width="64">
          <polygon points="2 36 17 2 26 2 15 36 26 36 26 62 2 62 2 36"/>
          <polygon points="38 36 53 2 62 2 51 36 62 36 62 62 38 62 38 36"/>
        </svg>

        <blockquote class="line-height-md margin-bottom-md">
          Thực ra đạt được số điểm 900 TOEIC là một điều khá bất ngờ và hạnh phúc đối với mình, vì mục tiêu ban đầu của mình chỉ là 700.
        </blockquote>

        <footer class="flex flex-wrap items-center margin-top-auto@md">
          <figure aria-hidden="true" class="flex-shrink-0 margin-right-xxs">
            <img alt="Olivia Gribben"
                 class="block width-lg height-lg radius-50% border border-2 border-bg" src="/gdmoi/assets/img/testimonials-img-3.svg">
          </figure>

          <cite class="text-sm">
            <strong>Nguyễn Lan Anh</strong>
            <span class="block color-contrast-medium margin-top-xxxxs">Học viên</span>
          </cite>
        </footer>
      </div>
    </div>
  </div>
</section>
</html>
