<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<section class="padding-y-lg" th:fragment="cam-nhan-hoc-vienFrg">
  <div class="container max-width-adaptive-lg">
    <div class="margin-bottom-lg">
      <h1 class="text-center">Cảm nhận từ học viên</h1>
    </div>

    <div class="grid gap-sm">
      <div class="bg-contrast-lower radius-md padding-md flex@md flex-column@md col-4@md">
        <svg aria-hidden="true" class="icon icon--xl color-contrast-low margin-bottom-xxxxs" height="64" viewBox="0 0 64 64"
             width="64">
          <polygon points="2 36 17 2 26 2 15 36 26 36 26 62 2 62 2 36"/>
          <polygon points="38 36 53 2 62 2 51 36 62 36 62 62 38 62 38 36"/>
        </svg>

        <blockquote class="line-height-md margin-bottom-md">
          <mark>Lorem ipsum dolor sit amet consectetur adipisicing elit</mark>
          . Eligendi atque doloremque beatae! Doloremque perspiciatis aliquid repellat quasi praesentium, minima nobis
          assumenda ex?
        </blockquote>

        <footer class="flex flex-wrap items-center margin-top-auto@md">
          <figure aria-hidden="true" class="flex-shrink-0 margin-right-xxs">
            <img alt="Emily Ewing"
                 class="block width-lg height-lg radius-50% border border-2 border-bg" src="/gdmoi/assets/img/testimonials-img-1.svg">
          </figure>

          <cite class="text-sm">
            <strong>Emily Ewing</strong>
            <span class="block color-contrast-medium margin-top-xxxxs">Designer at CompanyX</span>
          </cite>
        </footer>
      </div>

      <div class="bg-contrast-lower radius-md padding-md flex@md flex-column@md col-4@md">
        <svg aria-hidden="true" class="icon icon--xl color-contrast-low margin-bottom-xxxxs" height="64" viewBox="0 0 64 64"
             width="64">
          <polygon points="2 36 17 2 26 2 15 36 26 36 26 62 2 62 2 36"/>
          <polygon points="38 36 53 2 62 2 51 36 62 36 62 62 38 62 38 36"/>
        </svg>

        <blockquote class="line-height-md margin-bottom-md">
          <mark>Lorem ipsum dolor sit amet</mark>
          , consectetur adipisicing elit. Consectetur, recusandae? Saepe, facere.
        </blockquote>

        <footer class="flex flex-wrap items-center margin-top-auto@md">
          <figure aria-hidden="true" class="flex-shrink-0 margin-right-xxs">
            <img alt="James Powell"
                 class="block width-lg height-lg radius-50% border border-2 border-bg" src="/gdmoi/assets/img/testimonials-img-2.svg">
          </figure>

          <cite class="text-sm">
            <strong>James Powell</strong>
            <span class="block color-contrast-medium margin-top-xxxxs">Developer at CompanyY</span>
          </cite>
        </footer>
      </div>

      <div class="bg-contrast-lower radius-md padding-md flex@md flex-column@md col-4@md">
        <svg aria-hidden="true" class="icon icon--xl color-contrast-low margin-bottom-xxxxs" height="64" viewBox="0 0 64 64"
             width="64">
          <polygon points="2 36 17 2 26 2 15 36 26 36 26 62 2 62 2 36"/>
          <polygon points="38 36 53 2 62 2 51 36 62 36 62 62 38 62 38 36"/>
        </svg>

        <blockquote class="line-height-md margin-bottom-md">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          <mark>Suscipit provident numquam velit officiis impedit</mark>
          , molestiae adipisci architecto dolore expedita esse minima ut asperiores explicabo, aut iure exercitationem
          quam.
        </blockquote>

        <footer class="flex flex-wrap items-center margin-top-auto@md">
          <figure aria-hidden="true" class="flex-shrink-0 margin-right-xxs">
            <img alt="Olivia Gribben"
                 class="block width-lg height-lg radius-50% border border-2 border-bg" src="/gdmoi/assets/img/testimonials-img-3.svg">
          </figure>

          <cite class="text-sm">
            <strong>Olivia Gribben</strong>
            <span class="block color-contrast-medium margin-top-xxxxs">CEO at CompanyZ</span>
          </cite>
        </footer>
      </div>
    </div>
  </div>
</section>
</html>
