<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="bai-hoc-moi-nhatFrg">
  <div class="margin-y-lg">
    <h1 class="text-center">Bài học mới nhất</h1>
  </div>
  <div class="banner container max-width-adaptive-lg radius-md overflow-hidden">
    <a aria-label="Shop Now" class="text-decoration-none" href="#0">
      <div class="grid flex-row-reverse@md">
        <div aria-hidden="true" class="col-6@md overflow-hidden">
          <div class="banner__figure width-100%"
               style="background-image: url('/gdmoi/assets/img/banner-img-1.jpg');"></div>
        </div>

        <div class="col-6@md">
          <div class="text-component v-space-md height-100% flex flex-column padding-md padding-lg@md">
            <h2>Khi tiêu đề bài viết dài hơn dài hơn dài hơn dài hơn dài hơn thì sao?</h2>
            <p class="margin-top-sm margin-top-lg@md"><span class="banner__link"><i>Đọc ngay</i></span></p>
          </div>
        </div>
      </div>
    </a>
  </div>


  <!--  Pagination-->
  <nav aria-label="Pagination" class="pagination margin-top-sm">
    <ol class="pagination__list flex flex-wrap gap-xxxs justify-center">
      <li>
        <a aria-label="Go to previous page" class="pagination__item pagination__item--disabled" href="#0">
          <svg aria-hidden="true" class="icon margin-right-xxxs" viewBox="0 0 16 16"><title>Previous</title>
            <g stroke="currentColor" stroke-width="1">
              <polyline fill="none" points="9.5,3.5 5,8 9.5,12.5 " stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-miterlimit="10"></polyline>
            </g>
          </svg>
          <span>Prev</span>
        </a>
      </li>

      <li class="display@sm">
        <a aria-label="Go to page 1" class="pagination__item" href="#0">1</a>
      </li>

      <li class="display@sm">
        <a aria-label="Go to page 2" class="pagination__item" href="#0">2</a>
      </li>

      <li class="display@sm">
        <a aria-current="page" aria-label="Current Page, page 3" class="pagination__item pagination__item--selected"
           href="#0">3</a>
      </li>

      <li class="display@sm">
        <a aria-label="Go to page 4" class="pagination__item" href="#0">4</a>
      </li>

      <li aria-hidden="true" class="display@sm">
        <span class="pagination__item pagination__item--ellipsis">...</span>
      </li>

      <li class="display@sm">
        <a aria-label="Go to page 20" class="pagination__item" href="#0">20</a>
      </li>

      <li>
        <a aria-label="Go to next page" class="pagination__item" href="#0">
          <span>Next</span>
          <svg aria-hidden="true" class="icon margin-left-xxxs" viewBox="0 0 16 16"><title>Next</title>
            <g stroke="currentColor" stroke-width="1">
              <polyline fill="none" points="6.5,3.5 11,8 6.5,12.5 " stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-miterlimit="10"></polyline>
            </g>
          </svg>
        </a>
      </li>
    </ol>
  </nav>
</th:block>
</html>
