<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="notice js-notice" th:fragment="noticeFrg">
  <div class="container max-width-md">
    <div class="notice__banner flex justify-between items-start items-center@md">
      <div class="text-component">
        <p class="text-sm">📢Chúng tôi sử dụng cookie để cung cấp trải nghiệm tốt nhất tới bạn. Bằng cách truy cập vào
          trang web này, bạn đã đồng ý với <a href="#0">chính sách bảo mật</a> của chúng tôi.</p>
      </div>

      <button class="reset notice__close-btn margin-left-sm js-notice__hide-control">
        <svg class="icon" viewBox="0 0 16 16"><title>Đóng</title>
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
             stroke-width="1.5">
            <line x1="13.5" x2="2.5" y1="2.5" y2="13.5"></line>
            <line x1="2.5" x2="13.5" y1="2.5" y2="13.5"></line>
          </g>
        </svg>
      </button>
    </div>
  </div>
</div>
</html>
