<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="parent grid gap-xs padding-y-xs padding-x-md" th:fragment="khoa-hocFrg">
  <div class="margin-bottom-sm">
    <h1 class="text-center">Khóa học</h1>
  </div>
  <div class="col-4@lg col-6@sm">
    <a aria-label="Link label" class="link-card flex flex-column bg radius-md" href="#0">
      <div>
        <figure class="feature-v12__bg-item">
          <img alt="Image description" class="block width-100%" src="/gdmoi/assets/img/anh-web-khai-giang-B112-1.jpg">
        </figure>
        <div class="flex flex-wrap gap-xs items-center padding-top-md text-sm">
          <div class="line-height-xs padding-x-sm">
            <p class="font-semibold color-contrast-higher">Khai giảng: 14/06/2020</p>
            <p class="color-contrast-medium margin-top-xxxs">Kiến thức cơ bản cho người mới bắt đầu học TOEIC</p>
          </div>
        </div>
      </div>

      <div class="link-card__footer margin-top-auto border-top border-contrast-lower">
        <p class="text-sm">Chi tiết</p>
        <div>
          <svg class="icon icon--sm" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <line x1="3" x2="21" y1="12" y2="12"/>
              <polyline points="15 6 21 12 15 18"/>
            </g>
          </svg>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4@lg col-6@sm">
    <a aria-label="Link label" class="link-card flex flex-column bg radius-md" href="#0">
      <div>
        <figure class="feature-v12__bg-item">
          <img alt="Image description" class="block width-100%" src="/gdmoi/assets/img/anh-web-khai-giang-B112-1.jpg">
        </figure>
        <div class="flex flex-wrap gap-xs items-center padding-top-md text-sm">
          <div class="line-height-xs padding-x-sm">
            <p class="font-semibold color-contrast-higher">Khai giảng: 14/06/2020</p>
            <p class="color-contrast-medium margin-top-xxxs">Kiến thức cơ bản cho người mới bắt đầu học TOEIC</p>
          </div>
        </div>
      </div>

      <div class="link-card__footer margin-top-auto border-top border-contrast-lower">
        <p class="text-sm">Chi tiết</p>
        <div>
          <svg class="icon icon--sm" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <line x1="3" x2="21" y1="12" y2="12"/>
              <polyline points="15 6 21 12 15 18"/>
            </g>
          </svg>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4@lg col-6@sm">
    <a aria-label="Link label" class="link-card flex flex-column bg radius-md" href="#0">
      <div>
        <figure class="feature-v12__bg-item">
          <img alt="Image description" class="block width-100%" src="/gdmoi/assets/img/anh-web-khai-giang-B112-1.jpg">
        </figure>
        <div class="flex flex-wrap gap-xs items-center padding-top-md text-sm">
          <div class="line-height-xs padding-x-sm">
            <p class="font-semibold color-contrast-higher">Khai giảng: 14/06/2020</p>
            <p class="color-contrast-medium margin-top-xxxs">Kiến thức cơ bản cho người mới bắt đầu học TOEIC</p>
          </div>
        </div>
      </div>

      <div class="link-card__footer margin-top-auto border-top border-contrast-lower">
        <p class="text-sm">Chi tiết</p>
        <div>
          <svg class="icon icon--sm" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <line x1="3" x2="21" y1="12" y2="12"/>
              <polyline points="15 6 21 12 15 18"/>
            </g>
          </svg>
        </div>
      </div>
    </a>
  </div>
</div>
</html>
