<!DOCTYPE html>
<html class="js" lang="vi-VN"
      layout:decorate="~{layouts/page}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
  <div id="wrapper">
    <th:block th:replace="fragments/user/navBarFragment :: nav-bar"></th:block>
    <p style="margin-top: 100px" th:text="${courseName}"></p>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <ul>
            <li th:each="lesson, stat : ${lessons}">
              <a><span th:text="${stat.index +1}+'. '+${lesson.name}"></span></a>
              <ul>
                <li th:each="test, tStat : ${lesson.tests}">
                  <a th:href="'/bai-tap-lop/'+${courseId}+'/'+${lesson.id}+'/'+${test.id}"><span
                      th:text="${tStat.index +1}+'. '+${test.testName}"></span></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-sm">

        </div>
      </div>
    </div>
    <th:block th:replace="fragments/user/footerFragment :: footer"></th:block>
  </div>
</th:block>
</html>
