<!DOCTYPE html>
<html class="js" lang="vi-VN"
      layout:decorate="~{layouts/page}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<th:block layout:fragment="content">
  <div id="wrapper">
    <th:block th:replace="fragments/user/navBarFragment :: nav-bar"></th:block>
    <p style="margin-top: 100px">Các lớp đang theo học: </p>
    <ul>
      <li th:each="class, stat : ${classes}">
        <a th:href="'bai-tap-lop/'+ ${class.id}"><span th:text="${stat.index +1}+'. '+${class.name}"></span></a>
      </li>
    </ul>
    <th:block th:replace="fragments/user/footerFragment :: footer"></th:block>
  </div>
</th:block>
<th:block layout:fragment="endBodyScripts">
  <script th:src="@{/admin/js/class/index.js}"></script>
</th:block>
</html>
