@media only screen and ( min-width: 850px ) {
    .tin-tuc .box-text.text-left {
        min-height: 231px;
    }

    .tin-tuc .post-item:nth-child(2) .box-text-bottom {
        display: grid;
    }

    .tin-tuc .post-item:nth-child(2) .box-image {
        order: 2;
        width: 100%;
    }

    .tin-tuc .post-item:nth-child(2) .box-text.text-left {
        order: 1;
    }

    .category .col.post-item {
        max-width: 50%;
    }

    .section.head-cat-sing .section-bg.bg-loaded {
        background-position: center -150px;
    }
}

@media only screen and ( max-width: 850px ) {
    #top-bar {
        display: none;
    }

    .header-main li.html.custom {
        display: block;
    }

    ul.contact-on-mobile {
        list-style: none;
        margin-right: 80px !important;
    }

    .contact-on-mobile li {
        display: inline-block;
        margin: 0 45px;
    }

    .contact-on-mobile i {
        font-size: 20px;
        background: -webkit-linear-gradient(-30deg, #cd1f28, #423ec3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .lich-khai-giang .col {
        padding-left: 0;
        padding-right: 0;
    }

    .col-first {
        -ms-flex-order: 0;
        order: 0;
    }

    .lich-khai-giang .button-dk {
        background: none !important;
        color: #333 !important;
        padding: 0 !important;
    }

    .section.lich-khai-giang {
        padding: 0 15px;
    }
}

@media only screen and ( max-width: 600px ) {
    ul.contact-on-mobile {
        margin-right: 45px !important;
    }

    .contact-on-mobile li {
        margin: 0 30px !important;
    }
}

@media only screen and ( min-width: 550px ) {
    .block-tin-tuc .box-text {
        padding: 0px 5px 0px 15px;
    }
}

@media only screen and ( max-width: 550px ) {
    .section h2, .section h1, .category h1 {
        font-size: 20px !important;
    }

    .ly-do-number {
        margin-bottom: 70px !important;
    }

    .tin-bai h5.post-title {
        height: 37px !important;
    }

    .col.bai-giang {
        margin-top: 30px;
    }

    .tin-bai h2 {
        padding: 0 25px;
    }

    .category h5.post-title {
        font-size: 15px !important;
    }

    .section .kh h2 {
        font-size: 28px !important;
    }

    .lich-khai-giang .tab-panels {
        padding: 0;
    }

    table {
        margin-bottom: 0;
    }

    .contact-sidebar {
        display: none;
    }
}

@media only screen and ( max-width: 500px ) {
    .qsm-quiz-container .qsm-btn.qsm-previous {
        margin-bottom: 10px;
    }
}

@media only screen and ( max-width: 480px ) {
    ul.contact-on-mobile {
        margin-right: 12px !important;
    }

    .contact-on-mobile li {
        margin: 0 12px !important;
    }
}

@media only screen and ( max-width: 320px ) {
    #logo {
        width: 70px !important;
    }
}

@font-face {
    font-family: utm avo;
    src: url('/fonts/utm-avo.ttf') format('truetype')
}

@font-face {
    font-family: utm avo bold;
    src: url('/fonts/utm-avobold.ttf') format('truetype')
}

body, h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a {
    font-family: 'UTM Avo', sans-serif;
}

.nav > li > a {
    font-family: 'UTM Avo', sans-serif;
}

.nav-dropdown > li > a {
    padding: 10px;
}

ul.header-contact {
    list-style: none;
}

.header-contact li {
    display: inline-block;
    margin: 0 0 0 -3px;
    border-right: 1px solid #333;
    padding: 0 10px;
    line-height: 1;
    font-size: 14px;
}

.header-contact i {
    margin-right: 2px;
}

.menu-item .nav-dropdown.nav-dropdown-simple {
    padding: 0;
}

.nav-dropdown.nav-dropdown-simple > li > a:hover {
    background: #CF0505;
    color: #fff;
}

.slider-nav-circle .flickity-prev-next-button svg {
    background: rgba(0, 0, 0, .75);
    border: none;
}

.section h2 {
    font-size: 30px;
    color: #d12026;
    font-family: 'UTM Avo', sans-serif;
    text-transform: uppercase;
}

.gioi-thieu p a, .chuong-trinh p a {
    color: #d12026;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.chuong-trinh h3 {
    text-transform: uppercase;
    margin-bottom: 3px;
}

.gioi-thieu p, .chuong-trinh p {
    text-align: justify;
}

#top-link {
    border-color: #a0060d;
    color: #a0060d;
    bottom: 5px;
}

#top-link:hover {
    background: #a0060d;
    color: #fff;
}

.section.ly-do h2, .section.dang-ky h2, .section.chan-trang h2, .lo-trinh h2 {
    color: #fff;
}

.ly-do-number {
    color: #fff;
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    line-height: 0.9;
    float: left;
    margin-bottom: 85px;
    margin-right: 25px;
}

.ly-do-title {
    color: #f5d2d4;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1.25;
}

.ly-do-description {
    color: #e69093;
    font-weight: 500;
}

.tin-bai h5.post-title {
    height: 44px;
    overflow: hidden;
}

button.button.is-link {
    text-transform: none;
    font-weight: 400;
    margin: 0;
}

.tin-bai .is-divider {
    display: none;
}

.tin-tuc .col.post-item {
    background: #f5f5f5;
}

.tin-tuc .col.post-item:hover {
    background: #D12026;
}

.tin-tuc .col.post-item:hover .post-title.is-large, .tin-tuc .col.post-item:hover .from_the_blog_excerpt, .tin-tuc .col.post-item:hover button.button.is-link {
    color: #fff;
}

.tin-tuc .box-text.text-left {
    padding: 25px;
}

.bai-giang .row.large-columns-1.medium-columns-1.small-columns-1 {
    overflow-y: scroll;
    overflow-x: hidden;
    background: #395ba9;
    height: 462px;
    padding: 5px 25px;
    margin: 0;
}

.bai-giang .col.post-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0;
}

.bai-giang .col.post-item:last-child {
    border-bottom: none;
}

.bai-giang .box-text.text-left {
    padding-bottom: .7em;
}

.tin-tuc .box-text.text-left::before {
    content: '';
    position: absolute;
    border-top: 13px solid transparent;
    z-index: 10;
    top: -26px;
    left: 50%;
    right: auto;
    margin-left: -13px;
    border-bottom: 13px solid #f5f5f5;
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
}

.tin-tuc .col.post-item:hover .box-text.text-left::before {
    border-bottom: 13px solid #D12026;
}

.tin-tuc .col.post-item:nth-child(2) .box-text.text-left::before {
    bottom: -26px;
    top: auto;
    border-bottom: 13px solid transparent;
    border-top: 13px solid #f5f5f5;
}

.tin-tuc .col.post-item:hover:nth-child(2) .box-text.text-left::before {
    border-top: 13px solid #D12026;
}

.tin-tuc h5, .tin-tuc button.button.is-link {
    color: #ce0000;
}

.tin-bai button.button.is-link::after {
    content: "\f30b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 1px;
    position: relative;
}

.tin-bai h2 {
    margin-bottom: 25px;
}

.hoc-vien h3 {
    font-size: 16px;
    font-weight: 500;
    color: #2e3191;
    margin: 10px 0;
    text-align: center;
}

.hoc-vien p {
    text-align: justify;
    font-size: 14px;
}

.hoc-vien img {
    padding: 10px;
    border-radius: 100%;
    border: 2px dashed #555DA3;
}

.dang-ky .col.medium-6.small-12.large-6 {
    padding-bottom: 15px;
}

.section.chan-trang, .absolute-footer {
    background: initial;
}

.chan-trang ul {
    list-style: none;
}

.chan-trang li {
    font-size: 14px;
    margin-left: 0 !important;
    margin-bottom: 5px;
}

.ten-co-so {
    text-transform: uppercase;
    font-weight: 700;
}

.co-so i {
    width: 20px;
    text-align: center;
    font-size: 12px;
}

.section.chan-trang h2 {
    font-size: 18px;
    margin-bottom: 0;
}

.logo-footer img {
    max-width: 200px;
}

.chan-trang h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.chan-trang p {
    font-size: 14px;
}

#footer {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23444247' fill-opacity='0.25'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-color: #212029;
}

.copyright-footer {
    border-top: 1px solid #999;
    padding-top: 10px;
}

.banner-gioi-thieu h1 {
    font-size: 38px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
}

.banner-gioi-thieu p {
    font-size: 17px;
    line-height: 1.4;
}

.giang-vien h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.home .row.cmt {
    display: none;
}

article.post {
    margin-bottom: 0;
}

.category .row.align-center {
    max-width: 100%;
}

.badge.post-date {
    display: none;
}

.category .col.post-item .col-inner {
    border: 1px solid #777;
    padding: 15px;
}

.category .col.post-item .image-cover {
    padding-top: 80% !important;
}

.category h5.post-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #ce0000;
    max-height: 70px;
    overflow: hidden;
}

.category .from_the_blog_excerpt {
    font-size: 13px;
    max-height: 42px;
    overflow: hidden;
}

.recent-blog-posts .badge.post-date {
    display: table;
    height: 60px;
    width: 80px;
    border: 1px solid #ddd;
    padding: 1px;
}

.recent-blog-posts .flex-col.flex-grow a {
    height: 60px;
    overflow: hidden;
    font-size: 15px;
    line-height: 1.3;
}

.recent-blog-posts .post_comments {
    display: none;
}

.section.head-cat-sing h2 {
    font-size: 40px;
    color: #fff;
    line-height: 1.2;
}

.section.head-cat-sing p {
    max-width: 500px;
    font-size: 17px;
    line-height: 1.4;
}

.category h1 {
    font-size: 30px;
    margin-bottom: 0;
    color: #333399;
}

.single-post span.widget-title span {
    font-size: 20px;
    color: #333399;
}

.single-post .entry-header-text {
    padding-bottom: 0;
}

.single-post h1 {
    color: #333399;
}

.hinh-anh-lop-hoc h1 {
    color: #333399;
    font-size: 30px;
}

.kh .col-inner {
    border: 1px solid #111;
    padding: 10px 20px 20px !important;
}

.head-cac-khoa-hoc p {
    max-width: 700px;
}

.section .kh h2 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.section .kh-1 h2 {
    color: #cc2027;
}

.section .kh-2 h2 {
    color: #2e3191;
}

.kh h3 {
    font-size: 28px;
    text-transform: uppercase;
    line-height: 1.4;
}

.kh.kh-1 h3 {
    color: #cc2027;
}

.kh.kh-2 h3 {
    color: #2e3191;
}

.kh ul {
    list-style: none;
    margin-bottom: 0;
}

.kh li::before {
    color: transparent;
    content: "•";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    margin-top: 9px;
    left: 22px;
}

.kh .button {
    margin: 0;
    display: block;
}

.kh-1 li::before {
    background: #cc2027;
}

.kh-2 li::before {
    background: #2e3191;
}

.kh p a {
    font-style: italic;
}

.kh-1 a:not(.button) {
    color: #cc2027;
}

.kh-2 a:not(.button) {
    color: #2e3191;
}

main a:focus, main a:hover {
    text-decoration: underline;
}

main .col.post-item a:hover {
    text-decoration: none;
}

.tin-bai h5.post-title:hover, .category h5.post-title:hover {
    text-decoration: underline;
}

.off-canvas .children a {
    padding-left: 12px !important;
}

.head-kh h2 {
    color: #fff;
    text-transform: none;
    font-size: 24px;
    margin: 30px 0;
}

.head-kh p {
    margin-bottom: 30px;
}

.diem-noi-bat h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: #d12026;
    margin: 10px 0;
}

.diem-noi-bat p {
    text-align: justify;
}

.doi-tuong .box-image {
    background: #efe8df;
    padding: 10px 30px;
}

.doi-tuong .box {
    border: 1px solid #efe8df;
}

.lo-trinh h2 {
    margin-bottom: 10px;
}

.title-process {
    background: #cc2027;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: #fff;
}

.content-process {
    background: #fff;
    color: #333;
    padding: 10px;
}

.content-process h4 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

.content-process ul {
    margin-bottom: 0;
}

.content-process li {
    font-size: 15px;
    margin-bottom: 5px;
}

.section.ly-do.ly-do-kh h2 {
    color: #d12026;
}

.ly-do-kh .ly-do-number {
    background: #cc2027;
}

.ly-do-kh .ly-do-title {
    color: #111;
}

.ly-do-kh .ly-do-description {
    color: #555;
}

.thanh-tuu .thanh-tuu-so-lieu .col-inner {
    background: #CC2027;
    color: #fff;
    padding: 10px 0 5px !important;
}

.thanh-tuu h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 5px;
}

.section.ly-do .thanh-tuu h2 {
    margin-bottom: 30px;
}

table, td, th {
    border: 1px solid #636363;
    border-collapse: collapse;
    padding: 12px 5px;
    color: #333;
    text-align: center;
    line-height: 1.3;
}

th:first-child, td:first-child {
    padding-left: 5px;
}

.pum-title.popmake-title {
    margin-bottom: 35px;
}

.pum-content.popmake-content {
    text-align: center;
}

.pum-content.popmake-content button {
    color: #fff;
    border-radius: 5px;
    padding: 4px 25px;
}

.pum-theme-enterprise-blue .pum-content + .pum-close {
    right: -5px;
    top: 15px;
}

.pum-content input {
    border-radius: 5px;
    padding: 22px 12px;
}

.pum-content select {
    border-radius: 5px;
    height: 46px;
}

.lich-khai-giang .button-dk {
    background: #d12026;
    color: #fff;
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 5px;
}

.lich-khai-giang .button-dk:hover {
    color: #fff;
}

.nav-tabs a:hover, .nav-tabs a:focus {
    text-decoration: none;
}

.nav-tabs .tab a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.section.lich-khai-giang h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.entry-content.single-page {
    padding-top: 0;
}

.section.chan-trang.lien-he h2 {
    color: #d12026;
    font-size: 30px;
}

.lien-he h3 {
    font-size: 18px;
    color: #3c3f98;
    margin: 30px 0 10px;
}

.lien-he-block i {
    width: 20px;
    font-size: 15px;
}

.contact-sidebar {
    position: fixed;
    right: 0;
    height: auto;
    top: 40%;
    background: #a0060d;
    border-radius: 20px 0px 0px 20px;
    width: 60px;
    overflow: hidden;
    box-shadow: 0px 5px 30px rgba(244, 67, 54, 0.52);
    z-index: 9999;
    padding: 12px 0;
}

.contact-sidebar .col {
    padding: 0;
}

.contact-sidebar a {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 11px;
    line-height: 1.2;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0);
    transition: .3s ease all;
}

.contact-sidebar i {
    font-size: 24px;
    margin-bottom: 5px;
}

th:last-child, td:last-child {
    padding-right: 5px;
}

.quiz_section input[type="text"] {
    width: 100% !important;
}

.qsm-quiz-container {
    max-width: 750px;
    margin: auto;
}

.qsm-btn.qsm-submit-btn.qmn_btn {
    line-height: 1.6;
    border: none;
    border-radius: 3px;
    text-transform: none;
    font-weight: 400;
    margin: 0;
}

.block-tin-tuc h5 {
    font-size: 15px;
    line-height: 1.3;
    font-weight: 400;
    height: 60px;
    overflow: hidden;
    margin: 0;
}

.block-tin-tuc .is-divider {
    display: none;
}

.block-tin-tuc .wp-post-image {
    border: 1px solid #ddd;
    padding: 1px;
}

.block-tin-tuc .col.post-item {
    padding-bottom: 0;
}

.block-tin-tuc .col-inner {
    border-bottom: 1px solid #ececec;
    padding: 10px 0;
}

.block-tin-tuc .col.post-item:last-child .col-inner {
    border-bottom: none;
}

.pum-content select, .dang-ky select {
    padding: 0 8px;
}

select:required:invalid {
    color: #999;
}
