<!doctype html>
<html lang="vi"
      layout:decorate="~{layouts/giao-dien}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="/gdmoi/assets/css/dang-nhap/style.css" id="codyframe" rel="stylesheet">
  <!-- browsers not supporting CSS variables -->
  <script>
      if (!('CSS' in window) || !CSS.supports('color', 'var(--color-var)')) {
          var cfStyle = document.getElementById('codyframe');
          if (cfStyle) {
              var href = cfStyle.getAttribute('href');
              href = href.replace('style.css', 'style-fallback.css');
              cfStyle.setAttribute('href', href);
          }
      }
  </script>
  <style>
    .required:after {
      content:" *";
      color: red;
    }
  </style>
</head>
<body>

<th:block layout:fragment="content">
  <!--MAIN CONTENT-->
  <div class="parent grid gap-xs padding-y-sm padding-x-sm text-sm">
    <div class="col-3@lg"></div>
    <div class="col-6@lg shadow-xl">
      <form class="login-form padding-y-xxl" action="/login" method="post">
        <div class="text-component text-center margin-bottom-sm">
          <h3 th:text="${webTitle}"></h3>
          <div th:if="${param.error}" style="color: red">
            Sai tên đăng nhập hoặc mật khẩu
          </div>
          <div th:if="${param.logout}" style="color: green">
            Đăng xuất thành công
          </div>
        </div>

        <!--      <div class="grid gap-xs">-->
        <!--        <div class="col-6@xs">-->
        <!--          <button class="btn btn&#45;&#45;subtle width-100%">-->
        <!--            <svg aria-hidden="true" class="icon margin-right-xxxs" viewBox="0 0 16 16"><g><path d="M16,3c-0.6,0.3-1.2,0.4-1.9,0.5c0.7-0.4,1.2-1,1.4-1.8c-0.6,0.4-1.3,0.6-2.1,0.8c-0.6-0.6-1.5-1-2.4-1 C9.3,1.5,7.8,3,7.8,4.8c0,0.3,0,0.5,0.1,0.7C5.2,5.4,2.7,4.1,1.1,2.1c-0.3,0.5-0.4,1-0.4,1.7c0,1.1,0.6,2.1,1.5,2.7 c-0.5,0-1-0.2-1.5-0.4c0,0,0,0,0,0c0,1.6,1.1,2.9,2.6,3.2C3,9.4,2.7,9.4,2.4,9.4c-0.2,0-0.4,0-0.6-0.1c0.4,1.3,1.6,2.3,3.1,2.3 c-1.1,0.9-2.5,1.4-4.1,1.4c-0.3,0-0.5,0-0.8,0c1.5,0.9,3.2,1.5,5,1.5c6,0,9.3-5,9.3-9.3c0-0.1,0-0.3,0-0.4C15,4.3,15.6,3.7,16,3z"></path></g></svg>-->
        <!--            <span>Login with Twitter</span>-->
        <!--          </button>-->
        <!--        </div>-->

        <!--        <div class="col-6@xs">-->
        <!--          <button class="btn btn&#45;&#45;subtle width-100%">-->
        <!--            <svg aria-hidden="true" class="icon margin-right-xxxs" viewBox="0 0 16 16"><g><path d="M15.3,0H0.7C0.3,0,0,0.3,0,0.7v14.7C0,15.7,0.3,16,0.7,16H8v-5H6V8h2V6c0-2.1,1.2-3,3-3 c0.9,0,1.8,0,2,0v3h-1c-0.6,0-1,0.4-1,1v1h2.6L13,11h-2v5h4.3c0.4,0,0.7-0.3,0.7-0.7V0.7C16,0.3,15.7,0,15.3,0z"></path></g></svg>-->
        <!--            <span>Login with Facebook</span>-->
        <!--          </button>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--      <p class="text-center margin-y-sm">or</p>-->
        <div class="padding-x-xl">
          <div class="margin-bottom-sm">
            <label class="form-label margin-bottom-xxxs required" for="input-email">Tài khoản</label>
            <input autofocus class="form-control width-100%" id="input-email" name="username"
                   placeholder="example@sway.vn"
                   type="email" required>
          </div>

          <div class="margin-bottom-sm">
            <div class="flex justify-between margin-bottom-xxxs">
              <label class="form-label required" for="input-password">Mật khẩu</label>
<!--              <span class="text-sm"><a href="#0">Quên mật khẩu?</a></span>-->
            </div>

            <input class="form-control width-100%" id="input-password" name="password" placeholder="********"
                   type="password" required>
          </div>
          <div class="margin-bottom-sm margin-top-md">
            <button class="btn btn--primary btn--md width-100%">Đăng nhập</button>
          </div>
        </div>
        <!--      <div class="text-center">-->
        <!--        <p class="text-sm">Don't have an account? <a href="#0">Get started</a></p>-->
        <!--      </div>-->
      </form>
    </div>
    <div class="col-3@lg display@lg"></div>
  </div>
</th:block>
</body>
</html>
