<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">


<!--BODY HEADER FRAGMENT-->
<header class="header has-sticky sticky-jump" id="header" style="height: 180px;" th:fragment="body-header">
  <div class="header-wrapper">
    <div class="header-top hide-for-sticky" id="top-bar">
      <div class="flex-row container">
        <div class="flex-col hide-for-medium flex-left">
          <ul class="nav nav-left medium-nav-center nav-small  nav-divided">
          </ul>
        </div><!-- flex-col left -->

        <div class="flex-col hide-for-medium flex-center">
          <ul class="nav nav-center nav-small  nav-divided">
          </ul>
        </div><!-- center -->

        <div class="flex-col hide-for-medium flex-right">
          <ul class="nav top-bar-nav nav-right nav-small  nav-divided">
            <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-25" id="menu-item-25"><a
                class="nav-top-link" href="/gioi-thieu/">Giới thiệu</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category  menu-item-27" id="menu-item-27"><a
                class="nav-top-link" href="/tin-tuc/">Tin tức</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-26" id="menu-item-26"><a
                class="nav-top-link" href="/lien-he/">Liên hệ</a></li>
            <li class="html header-social-icons ml-0">
              <div class="social-icons follow-icons"><a class="icon plain facebook tooltip tooltipstered"
                                                        data-label="Facebook"
                                                        href="#" rel="noopener noreferrer nofollow"
                                                        target="_blank"><i
                  class="icon-facebook"></i></a><a class="icon plain  email tooltip tooltipstered" data-label="E-mail"
                                                   href="mailto:#"
                                                   rel="nofollow"><i
                  class="icon-envelop"></i></a></div>
            </li>
          </ul>
        </div><!-- .flex-col right -->

        <div class="flex-col show-for-medium flex-grow">
          <ul class="nav nav-center nav-small mobile-nav  nav-divided">
            <li class="html custom html_topbar_left">
              <ul class="header-contact">
                <li><i class="fas fa-envelope"></i> lienhe@biglanguage.vn</li>
                <li><i class="fas fa-clock"></i> 8:30 - 20:30</li>
                <li><i class="fas fa-phone"></i> 0866 644 244
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </div><!-- .flex-row -->
    </div><!-- #header-top -->
    <div class="header-main hide-for-sticky" id="masthead">
      <div class="header-inner flex-row container logo-left" role="navigation">

        <!-- Logo -->
        <div class="flex-col logo" id="logo">
          <!-- Header logo -->
          <a href="//"
             rel="home" title="Trung Tâm Anh Ngữ Big Language - Luyện thi IELTS và Tiếng Anh Giao Tiếp chuyên sâu.">
            <img alt="Trung Tâm Anh Ngữ Big Language" class="header_logo header-logo" height="100"
                 src="/user_assets/LOGO_BIG-LANGUAGE_FILE-PNG.png" width="133"><img
              alt="Trung Tâm Anh Ngữ Big Language" class="header-logo-dark"
              height="100"
              src="/user_assets/LOGO_BIG-LANGUAGE_FILE-PNG.png"
              width="133"></a>
        </div>

        <!-- Mobile Left Elements -->
        <div class="flex-col show-for-medium flex-left">
          <ul class="mobile-nav nav nav-left ">
          </ul>
        </div>

        <!-- Left Elements -->
        <div class="flex-col hide-for-medium flex-left
            flex-grow">
          <ul class="header-nav header-nav-main nav nav-left  nav-box nav-uppercase">
          </ul>
        </div>

        <!-- Right Elements -->
        <div class="flex-col hide-for-medium flex-right">
          <ul class="header-nav header-nav-main nav nav-right  nav-box nav-uppercase">
            <li class="html custom html_topbar_left">
              <ul class="header-contact">
                <li><i class="fas fa-envelope"></i> phanhoi@biglanguage.vn</li>
                <li><i class="fas fa-clock"></i> 8:30 - 20:30</li>
                <li><i class="fas fa-phone"></i> 0866 644 244
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <!-- Mobile Right Elements -->
        <div class="flex-col show-for-medium flex-right">
          <ul class="mobile-nav nav nav-right ">
            <li class="html custom html_topbar_right">
              <ul class="contact-on-mobile">
                <li><a href="tel:0866 644 244"><i class="fas fa-phone-volume"></i></a></li>
                <li><a href="/khoa-hoc/"><i class="far fa-edit"></i></a></li>
                <li><a class="button-dk" href="/#"><i class="fab fa-facebook-messenger"></i></a></li>
              </ul>
            </li>
            <li class="nav-icon has-icon">
              <a aria-controls="main-menu" aria-expanded="false" aria-label="Menu" class="is-small"
                 data-bg="main-menu-overlay" data-color="dark" data-open="#main-menu" data-pos="left"
                 href="/#">

                <i class="icon-menu"></i>
              </a>
            </li>
          </ul>
        </div>

      </div><!-- .header-inner -->

    </div><!-- .header-main -->
    <div class="header-bottom wide-nav nav-dark hide-for-medium" id="wide-nav">
      <div class="flex-row container">

        <div class="flex-col hide-for-medium flex-left">
          <ul class="nav header-nav header-bottom-nav nav-left  nav-box nav-size-medium nav-spacing-small nav-uppercase">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-15 current_page_item active  menu-item-24"
                id="menu-item-24">
              <a class="nav-top-link" href="/">Trang chủ</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  menu-item-88 has-dropdown"
                id="menu-item-88">
              <a class="nav-top-link" href="/gioi-thieu/">Giới thiệu<i
                  class="icon-angle-down"></i></a>
              <ul class="nav-dropdown nav-dropdown-simple">
                <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-698"
                    id="menu-item-698"><a
                    href="/gioi-thieu/">Ưu điểm của trung tâm</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-114"
                    id="menu-item-114"><a
                    href="/hinh-anh-co-so-vat-chat/">Hình ảnh cơ sở vật chất</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-1500"
                    id="menu-item-1500"><a
                    href="/phan-hoi-cua-hoc-vien/">Phản hồi của Học viên</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  menu-item-94 has-dropdown"
                id="menu-item-94">
              <a class="nav-top-link" href="/khoa-hoc/">Khóa học<i class="icon-angle-down"></i></a>
              <ul class="nav-dropdown nav-dropdown-simple">
                <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-115"
                    id="menu-item-115"><a
                    href="/khoa-hoc-luyen-thi-ielts/">Khóa học luyện thi IELTS</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-116"
                    id="menu-item-116"><a
                    href="/tieng-anh-giao-tiep-4-ky-nang/">Tiếng Anh giao tiếp 4 kỹ năng</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category  menu-item-95" id="menu-item-95"><a
                class="nav-top-link" href="/tin-tuc/">Tin tức</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category  menu-item-96" id="menu-item-96"><a
                class="nav-top-link" href="/thu-vien/">Thư Viện</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-97" id="menu-item-97"><a
                class="nav-top-link" href="/lich-khai-giang/">Lịch khai giảng</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-post  menu-item-1061" id="menu-item-1061">
              <a class="nav-top-link"
                 href="/tin-tuc/chuong-trinh-tra-gop-lai-suat-0-hoc-phi-khoa-hoc-tieng-anh-tai-jaxtina/">Ưu
                đãi trả góp</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-22" id="menu-item-22"><a
                class="nav-top-link" href="/lien-he/">Liên hệ</a></li>
          </ul>
        </div><!-- flex-col -->


        <div class="flex-col hide-for-medium flex-right flex-grow">
          <ul class="nav header-nav header-bottom-nav nav-right  nav-box nav-size-medium nav-spacing-small nav-uppercase">
          </ul>
        </div><!-- flex-col -->


      </div><!-- .flex-row -->
    </div><!-- .header-bottom -->

    <div class="header-bg-container fill">
      <div class="header-bg-image fill"></div>
      <div class="header-bg-color fill"></div>
    </div><!-- .header-bg-container -->    </div><!-- header-wrapper-->
</header>


<!--BODY JS-->
<th:block th:fragment="endBodyCommonScripts">
  <script src="/user_assets/flatsome.js" type="text/javascript"></script>
</th:block>
</html>
