<!DOCTYPE html>
<html class="js" lang="vi-VN"
      layout:decorate="~{layouts/page}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
  <div id="wrapper">
    <th:block th:replace="fragments/user/navBarFragment :: nav-bar"></th:block>
    <p style="margin-top: 100px" th:text="${courseName}"></p>
    <div class="container">
      <div class="row">
        <!--        <div class="col-sm">-->
        <!--          <ul>-->
        <!--            <li th:each="lesson, stat : ${lessons}">-->
        <!--              <a><span th:text="${stat.index +1}+'. '+${lesson.name}"></span></a>-->
        <!--              <ul>-->
        <!--                <li th:each="test, tStat : ${lesson.tests}">-->
        <!--                  <a><span th:text="${tStat.index +1}+'. '+${test.testName}"></span></a>-->
        <!--                  <ul>-->
        <!--                    <li th:each="question, qStat : ${test.questions}">-->
        <!--                      <a><span th:text="${qStat.index +1}+'. '+${question.content}"></span></a>-->
        <!--                    </li>-->
        <!--                  </ul>-->
        <!--                </li>-->
        <!--              </ul>-->
        <!--            </li>-->
        <!--          </ul>-->
        <!--        </div>-->
        <div class="col-sm">
          <form method="post" style="margin-bottom: 70px" th:action="@{~/submit-test}">
            <div class="container">
              <div class="row" style="margin-bottom: 30px" th:each="question, stat : ${questions}">
                <div class="col-12" style="font-size: 20px" th:text="${'Câu '+(stat.index+1)+': '+question.content}">
                </div>
                <div class="col-12"
                     style="border-radius: 10px; border: 1px solid black; width: 100%; cursor: pointer; margin:5px 0; padding: 5px"
                     th:each="choice,stat2 : ${question.getChoicesList()}">
                  <div class="form-check" style="padding:5px">
                    <input class="form-check-input" th:id="${question.questionId+stat2.index}"
                           th:name="|questions[${stat.index}]|"
                           th:value="${choice}"
                           type="radio"/>
                    <label class="form-check-label" style="width: 100%; cursor: pointer"
                           th:for="${question.questionId+stat2.index}"
                           th:text="${choice}">
                    </label>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <button class="btn btn-primary" type="submit">Nộp bài</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <th:block th:replace="fragments/user/footerFragment :: footer"></th:block>
  </div>
</th:block>
</html>
