<!doctype html>
<html lang="vi"
      layout:decorate="~{layouts/giao-dien}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="/gdmoi/assets/css/bai-test/style.css" id="codyframe" rel="stylesheet">
  <!-- browsers not supporting CSS variables -->
  <script>
    if (!('CSS' in window) || !CSS.supports('color', 'var(--color-var)')) {
      var cfStyle = document.getElementById('codyframe');
      if (cfStyle) {
        var href = cfStyle.getAttribute('href');
        href = href.replace('style.css', 'style-fallback.css');
        cfStyle.setAttribute('href', href);
      }
    }
  </script>
</head>
<body>

<th:block layout:fragment="content">
  <!--  HERO-->
  <th:block th:insert="fragments/gdmoiFrg/trang-chu/_1_hero :: heroFrg"></th:block>

  <!--MAIN CONTENT-->
  <div class="parent grid gap-xs padding-y-sm padding-x-sm text-sm">
    <div class="col-9@lg col-12@sm" style="min-height: 50vh">
      <div class="margin-x-xxl@lg margin-x-xl">
        <h4>Các lớp đang dạy: </h4>
        <ul class="accordion  js-accordion" data-animation="on" data-multi-items="on">
          <li th:each="class, stat : ${classes}" class="accordion__item accordion__item--is-open js-accordion__item">
            <p th:text="${class.name}"></p>
<!--            <button class="reset accordion__header padding-y-sm padding-x-md js-tab-focus" type="button">-->
<!--              <a th:href="'bai-tap-lop/'+ ${class.slug}"><span th:text="${stat.index +1}+'. '+${class.name}"></span></a>-->
<!--            </button>-->
          </li>
        </ul>
      </div>
    </div>
    <div class="col-3@lg col-12@sm">
<!--      <th:block th:insert="fragments/gdmoiFrg/common/sidebar/sideBar :: sideBarFrg"></th:block>-->
    </div>
  </div>
</th:block>
</body>
</html>
