<!doctype html>
<html lang="vi"
      layout:decorate="~{layouts/giao-dien}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="/gdmoi/assets/css/bai-test/style.css" id="codyframe" rel="stylesheet">
  <!-- browsers not supporting CSS variables -->
  <script>
    if (!('CSS' in window) || !CSS.supports('color', 'var(--color-var)')) {
      var cfStyle = document.getElementById('codyframe');
      if (cfStyle) {
        var href = cfStyle.getAttribute('href');
        href = href.replace('style.css', 'style-fallback.css');
        cfStyle.setAttribute('href', href);
      }
    }
  </script>
</head>
<body>

<th:block layout:fragment="content">
  <!--  HERO-->
  <th:block th:insert="fragments/gdmoiFrg/trang-chu/_1_hero :: heroFrg"></th:block>

  <!--MAIN CONTENT-->
  <div class="parent grid gap-xs padding-y-sm padding-x-sm text-sm">
    <div class="col-9@lg col-12@sm" style="min-height: 50vh">
      <div class="margin-x-xxl@lg margin-x-xl">
        <h4>Các lớp đang dạy: </h4>
        <!--        <span th:text="${param.keySet()}"></span>-->
        <ul class="accordion  js-accordion" data-animation="on" data-multi-items="on">
          <li class="accordion__item accordion__item--is-open js-accordion__item" th:each="class, stat : ${classes}">
            <button class="reset accordion__header padding-y-sm padding-x-md js-tab-focus" type="button">
              <span th:text="${stat.index +1}+'. '+${class.name}"></span>

              <svg aria-hidden="true" class="icon accordion__icon-plus no-js:is-hidden" viewBox="0 0 16 16">
                <g class="icon__group" fill="none" stroke="currentColor" stroke-miterlimit="10">
                  <line x1="1" x2="15" y1="8" y2="8"/>
                  <line x1="1" x2="15" y1="8" y2="8"/>
                </g>
              </svg>
            </button>

            <div class="accordion__panel js-accordion__panel">
              <div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
                <th:block th:each="lesson, lStat : ${class.course.lessons}" th:if="${class.course}">
                  <div>
                    <a class="margin-left-md@lg margin-left-sm"
                       th:href="'quan-ly-lop-hoc/'+ ${class.slug} + '/' + ${lesson.slug}">
                      <span th:text="${lesson.name}"></span>
                    </a>
                  </div>
                </th:block>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-3@lg col-12@sm">
      <!--      <th:block th:insert="fragments/gdmoiFrg/common/sidebar/sideBar :: sideBarFrg"></th:block>-->
    </div>
  </div>
</th:block>
</body>
</html>
